In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_estudiantes=pd.read_csv('/content/drive/MyDrive/StudentsPerformance.csv')
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
#Operaciones en columnas
#Lo primero que debemos hacer es elegir la columna que quiero operar, ojalá una columna númerica
df_estudiantes['reading score']

0      72
1      90
2      95
3      57
4      78
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading score, Length: 1000, dtype: int64

In [ ]:
#Como sumar datos de una columna
df_estudiantes['reading score'].sum()

69169

In [ ]:
#Como contar datos de una columna
df_estudiantes['reading score'].count()

1000

In [ ]:
#Ejemplo 2
df_estudiantes['gender'].count()

1000

In [ ]:
#Para calcular el promedio usamos el metodo mean
df_estudiantes['reading score'].mean()

69.169

In [ ]:
#Para calcular la desviación estandar de una columna, uso el metodo std
df_estudiantes['reading score'].std()

14.60019193725222

In [ ]:
#Para ver los valores máximos de una columna, uso el metodo max
df_estudiantes['reading score'].max()

100

In [ ]:
#Para ver el valor minimo de una columna, uso el metodo min
df_estudiantes['reading score'].min()

17

In [ ]:
#Para ver todas las medidas de tendencia de una columna, uso el metodo describe
df_estudiantes['reading score'].describe()

count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading score, dtype: float64

In [ ]:
#Operaciones entre filas
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
#Operaciones entre filas, empecemos con la suma
df_estudiantes['math score']+df_estudiantes['writing score']+df_estudiantes['writing score']

0      220
1      245
2      276
3      135
4      226
      ...
995    278
996    172
997    189
998    222
999    249
Length: 1000, dtype: int64

In [ ]:
#Así guardo una nueva columna calculada
df_estudiantes['Total']=df_estudiantes['math score']+df_estudiantes['writing score']+df_estudiantes['writing score']
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total
0,female,group B,bachelor's degree,standard,none,72,72,74,220
1,female,group C,some college,standard,completed,69,90,88,245
2,female,group B,master's degree,standard,none,90,95,93,276
3,male,group A,associate's degree,free/reduced,none,47,57,44,135
4,male,group C,some college,standard,none,76,78,75,226
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,278
996,male,group C,high school,free/reduced,none,62,55,55,172
997,female,group C,high school,free/reduced,completed,59,71,65,189
998,female,group D,some college,standard,completed,68,78,77,222
999,female,group D,some college,free/reduced,none,77,86,86,249

In [ ]:
#Ahora vamos a calcular el promedio de los datos de estas personas
(df_estudiantes['Total'])/3

0      73.333333
1      81.666667
2      92.000000
3      45.000000
4      75.333333
         ...
995    92.666667
996    57.333333
997    63.000000
998    74.000000
999    83.000000
Name: Total, Length: 1000, dtype: float64

In [ ]:
#Vamos a guardar en una nueva variable que se llame promedio
df_estudiantes['PROMEDIO']=(df_estudiantes['Total'])/3
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
0,female,group B,bachelor's degree,standard,none,72,72,74,220,73.333333
1,female,group C,some college,standard,completed,69,90,88,245,81.666667
2,female,group B,master's degree,standard,none,90,95,93,276,92.000000
3,male,group A,associate's degree,free/reduced,none,47,57,44,135,45.000000
4,male,group C,some college,standard,none,76,78,75,226,75.333333
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,278,92.666667
996,male,group C,high school,free/reduced,none,62,55,55,172,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,189,63.000000
998,female,group D,some college,standard,completed,68,78,77,222,74.000000
999,female,group D,some college,free/reduced,none,77,86,86,249,83.000000

In [ ]:
#Así formateo los números para que solamente tengan 2 decimales
df_estudiantes.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
0,female,group B,bachelor's degree,standard,none,72,72,74,220,73.33
1,female,group C,some college,standard,completed,69,90,88,245,81.67
2,female,group B,master's degree,standard,none,90,95,93,276,92.00
3,male,group A,associate's degree,free/reduced,none,47,57,44,135,45.00
4,male,group C,some college,standard,none,76,78,75,226,75.33
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,278,92.67
996,male,group C,high school,free/reduced,none,62,55,55,172,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,189,63.00
998,female,group D,some college,standard,completed,68,78,77,222,74.00
999,female,group D,some college,free/reduced,none,77,86,86,249,83.00

In [ ]:
#Vamos a contar elementos por valor
len(df_estudiantes['gender'])

1000

In [ ]:
#Para contar cuantos elementos se repiten en una columna, uso el metodo value.counts
df_estudiantes['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [ ]:
#Para contar la columna raza y grupos etnicos
df_estudiantes['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [ ]:
#Así puedo calcular el porcentaje de participación por cada elemento
df_estudiantes['race/ethnicity'].value_counts(normalize=True)*100

race/ethnicity
group C    31.9
group D    26.2
group B    19.0
group E    14.0
group A     8.9
Name: proportion, dtype: float64

In [ ]:
#Agrupamos por parental level of education
df_estudiantes['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [ ]:
#También puedo calcular el porcentaje de participación por item
df_estudiantes['parental level of education'].value_counts(normalize=True)*100

parental level of education
some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: proportion, dtype: float64

In [ ]:
#También puedo calcular el porcentaje de participación por genero
df_estudiantes['gender'].value_counts(normalize=True)*100

gender
female    51.8
male      48.2
Name: proportion, dtype: float64

In [ ]:
#Que pasa si lo uso en una columna númerica
df_estudiantes['math score'].value_counts()

math score
65    36
62    35
69    32
59    32
61    27
      ..
24     1
28     1
33     1
18     1
8      1
Name: count, Length: 81, dtype: int64

In [ ]:
#Ordenemos los datos por el valor de matematicas en ascendente
df_estudiantes.sort_values('math score')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
59,female,group C,some high school,free/reduced,none,0,17,10,20,6.666667
980,female,group B,high school,free/reduced,none,8,24,23,54,18.000000
17,female,group B,some high school,free/reduced,none,18,32,28,74,24.666667
787,female,group B,some college,standard,none,19,38,32,83,27.666667
145,female,group C,some college,free/reduced,none,22,39,33,88,29.333333
...,...,...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99,298,99.333333
623,male,group A,some college,standard,completed,100,96,86,272,90.666667
451,female,group E,some college,standard,none,100,92,97,294,98.000000
962,female,group E,associate's degree,standard,none,100,100,100,300,100.000000
149,male,group E,associate's degree,free/reduced,completed,100,100,93,286,95.333333

In [ ]:
df_estudiantes=df_estudiantes.sort_values('math score')

In [ ]:
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
59,female,group C,some high school,free/reduced,none,0,17,10,20,6.666667
980,female,group B,high school,free/reduced,none,8,24,23,54,18.000000
17,female,group B,some high school,free/reduced,none,18,32,28,74,24.666667
787,female,group B,some college,standard,none,19,38,32,83,27.666667
145,female,group C,some college,free/reduced,none,22,39,33,88,29.333333
...,...,...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99,298,99.333333
623,male,group A,some college,standard,completed,100,96,86,272,90.666667
451,female,group E,some college,standard,none,100,92,97,294,98.000000
962,female,group E,associate's degree,standard,none,100,100,100,300,100.000000
149,male,group E,associate's degree,free/reduced,completed,100,100,93,286,95.333333

In [ ]:
#IMPORTANTE: Para descargar datos
df_estudiantes.to_csv('df_estudiantes.csv', index=False)

In [ ]:
#Ahora vamos a organizar de forma decendente
df_estudiantes.sort_values('math score', ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
149,male,group E,associate's degree,free/reduced,completed,100,100,93,286,95.333333
962,female,group E,associate's degree,standard,none,100,100,100,300,100.000000
451,female,group E,some college,standard,none,100,92,97,294,98.000000
623,male,group A,some college,standard,completed,100,96,86,272,90.666667
625,male,group D,some college,standard,completed,100,97,99,298,99.333333
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,88,29.333333
787,female,group B,some college,standard,none,19,38,32,83,27.666667
17,female,group B,some high school,free/reduced,none,18,32,28,74,24.666667
980,female,group B,high school,free/reduced,none,8,24,23,54,18.000000
59,female,group C,some high school,free/reduced,none,0,17,10,20,6.666667

In [ ]:
#También podemos ordenar los dataframe no solo por una columna sino por dos
#Hay que tener en cuenta, que organizará por el primer dato y el segundo será dependiente
df_estudiantes.sort_values(['reading score', 'writing score'], ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
106,female,group D,master's degree,standard,none,87,100,100,287,95.666667
970,female,group D,bachelor's degree,standard,none,89,100,100,289,96.333333
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100,292,97.333333
957,female,group D,master's degree,standard,none,92,100,100,292,97.333333
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100,293,97.666667
...,...,...,...,...,...,...,...,...,...,...
76,male,group E,some high school,standard,none,30,26,22,74,24.666667
980,female,group B,high school,free/reduced,none,8,24,23,54,18.000000
596,male,group B,high school,free/reduced,none,30,24,15,60,20.000000
327,male,group A,some college,free/reduced,none,28,23,19,66,22.000000
59,female,group C,some high school,free/reduced,none,0,17,10,20,6.666667

In [ ]:
#De esta manera puedo guardar los datos, y sobre escribir, sin re usar la variable, con el metodo inplace
organizado_por_lectura=df_estudiantes.sort_values(['reading score', 'writing score'], ascending=False,
                                                  inplace=True)

In [ ]:
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
106,female,group D,master's degree,standard,none,87,100,100,287,95.666667
970,female,group D,bachelor's degree,standard,none,89,100,100,289,96.333333
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100,292,97.333333
957,female,group D,master's degree,standard,none,92,100,100,292,97.333333
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100,293,97.666667
...,...,...,...,...,...,...,...,...,...,...
76,male,group E,some high school,standard,none,30,26,22,74,24.666667
980,female,group B,high school,free/reduced,none,8,24,23,54,18.000000
596,male,group B,high school,free/reduced,none,30,24,15,60,20.000000
327,male,group A,some college,free/reduced,none,28,23,19,66,22.000000
59,female,group C,some high school,free/reduced,none,0,17,10,20,6.666667

In [ ]:
organizado_por_lectura

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
106,female,group D,master's degree,standard,none,87,100,100,287,95.666667
970,female,group D,bachelor's degree,standard,none,89,100,100,289,96.333333
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100,292,97.333333
957,female,group D,master's degree,standard,none,92,100,100,292,97.333333
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100,293,97.666667
...,...,...,...,...,...,...,...,...,...,...
76,male,group E,some high school,standard,none,30,26,22,74,24.666667
980,female,group B,high school,free/reduced,none,8,24,23,54,18.000000
596,male,group B,high school,free/reduced,none,30,24,15,60,20.000000
327,male,group A,some college,free/reduced,none,28,23,19,66,22.000000
59,female,group C,some high school,free/reduced,none,0,17,10,20,6.666667

In [ ]:
organizado_por_lectura.to_csv('organizado_por_lectura.csv', index=False)

In [ ]:
#Vamos a ordenar los valores por texto, para esto usaremos la función lambda
#Con ella convertimos primero los valores en minúsculas y luego ordenamos
df_estudiantes.sort_values('race/ethnicity', ascending=True,
                           key=lambda col:col.str.lower())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
837,female,group A,high school,standard,completed,75,82,79,233,77.666667
129,female,group A,bachelor's degree,standard,none,51,49,51,153,51.000000
467,male,group A,high school,free/reduced,completed,72,67,65,202,67.333333
511,male,group A,some high school,standard,none,64,50,43,150,50.000000
378,female,group A,some high school,standard,none,71,83,77,225,75.000000
...,...,...,...,...,...,...,...,...,...,...
186,male,group E,high school,standard,none,80,76,65,210,70.000000
968,female,group E,associate's degree,standard,none,68,76,67,202,67.333333
269,female,group E,some college,free/reduced,none,71,76,70,211,70.333333
926,male,group E,associate's degree,free/reduced,none,64,56,52,168,56.000000
881,female,group E,bachelor's degree,standard,completed,71,70,70,211,70.333333